@import '~antd/dist/antd.css';

.cities {
    display:inline-block;
    width: 120px;
    margin-right: 10px;
    float: left;
}

.citiesList {
    top: -10px;
}

.ant-dropdown-link {
    color: rgba(255, 255, 255, 0.65);
}

.ant-dropdown-link:hover {
    color: #fff;
    cursor: pointer;
}


[data-theme="dark"] .site-layout-content {
    background: #141414;
}
[data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
}
